# .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# VS Code
.vscode/

# Rider
.idea/

# Logs
*.log

# Reservas.Infrastructure/Migrations/

# Secretos locales
appsettings.Development.json
secrets.json
